<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
            {% if page.use_math %}
                {% include mathjax_support %}
            {% endif %}
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<!--<li><a href="/about">About</a></li>-->
	        		<li><a href="http://www.cs.cmu.edu/~15850/">Course Page</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        	  <li><a href="https://piazza.com/class/jl4ftt11rkt6p9">piazza</a>
			  </li>
				</ul>
			</footer>
		</body>
	</html>
